/* =============
    Navigation
============= */
#nav-container {
    ul {
        height: 100%;

        @include lg {
            display: flex;
        }

        li {
            margin-bottom: 12px;
            padding-bottom: 15px;
            border-bottom: 1px solid $yellow;

            @include lg {
                align-items: center;
                display: flex;
                border-right: 2px solid $black;
                border-bottom: 0px;
                margin-bottom: 0px;
                padding-bottom: 0px;

            }

            a:link,
            a:visited {
                color: $white;
                padding: 0 20px;

                @include lg {
                    color: $black;
                }

            } 
            a:hover,
            a:active {

                color: $yellow;

            }
        }

        li:first-child {
            border: none;
        }
        li:last-child {
            border: none;
        }
    }
 
}